{% extends 'base.html' %}


{% block title %}Device{% endblock %}

{% block menu %}
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="{{ url_for('index.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
      Home
    </a>
  </li>
  <li>
    <a href="{{ url_for('dashboard.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
      Dashboard
    </a>
  </li>
  <li>
    <a href="{{ url_for('applications.applications_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#tools"></use></svg>
      Apps
    </a>
  </li>
  <li>
    <a href="{{ url_for('device.device_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
      Devices
    </a>
  </li>
  <li>
    <a href="{{ url_for('resource.resources_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#cpu-fill"></use></svg>
      Resources
    </a>
  </li>  
  <li>
    <a href="{{ url_for('topic.topic_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
      Topics
    </a>
  </li>
  <!--
  <li>
    <a href="#" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
      Users
    </a>
  </li>
  -->
</ul>
{% endblock %}

{% block content %}
<div>
  <nav class="navbar title-nav">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>Settings</span>
    </div>
  </nav>  
  <div class="page-content">
    
    <!-- 1Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Standalone Mode</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p><b>Warning:</b> continuous internet connection is 
              required for server synchronization.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <form action="{{ url_for('gateway.settings') }}" method="POST">
              <input type="text" name="disablestandalone" value="True" style="display: none;">
              <button type="submit" class="btn btn-warning">Disable</button>
            </form>            
          </div>
        </div>
      </div>
    </div>
    <!-- 2Modal -->
    <div class="modal fade" id="getModal" tabindex="-1" aria-labelledby="getModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="getModalLabel">Standalone Mode</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p><b>Warning:</b> Continuous internet connection is required for server synchronization. This action removes all the information and replaces it with the backend response.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <form action="{{ url_for('gateway.settings') }}" method="POST">
              <input type="text" name="getrepresentation" value="True" style="display: none;">
              <input class="btn btn-warning" type="submit" value="Get-Representation">
            </form>            
          </div>
        </div>
      </div>
    </div>
    <!-- 3Modal -->
    <div class="modal fade" id="setModal" tabindex="-1" aria-labelledby="setModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="settModalLabel">Standalone Mode</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p><b>Warning:</b> continuous internet connection is 
              required for server synchronization.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <form action="{{ url_for('gateway.settings') }}" method="POST">
              <input type="text" name="setrepresentation" value="True" style="display: none;">
              <input class="btn btn-warning" type="submit" value="Set-Representation">
            </form>            
          </div>
        </div>
      </div>
    </div>
    {% if settings['standalone'] %}
    <p>This devices is running in standalone mode, if you want to connect to the backend server, please disable this mode.</p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Disable Standalone
    </button>
    <table class="table">
      <tbody>
        <tr>
          <td><b>Stand-Alone: </b>{{ settings['standalone'] }}</td>
          <td><b>Devices Broker URL: </b>{{ settings['devicebrokerurl'] }}</td>
          <td><b>Devices Broker Port: </b>{{ settings['devicebrokerport'] }}</td>
        </tr>
        <tr>
          <td><b>Device Broker Topic: </b>{{ settings['devicebrokertopic'] }}</td>
          <td><b>MQTT Keep Alive: </b>{{ settings['mqttkeepalive'] }}</td>
        </tr>
      </tbody>
    </table>
    {% else %}
    <a class="btn btn-sm btn-success" href="{{ url_for('gateway.settings_update') }}" >Update Settings</a>
    <table class="table">
      <tbody>
        <tr>
          <td><b>Stand-Alone: </b>{{ settings['standalone'] }}</td>
          <td><b>Devices Broker URL: </b>{{ settings['devicebrokerurl'] }}</td>
          <td><b>Devices Broker Port: </b>{{ settings['devicebrokerport'] }}</td>
          <td><b>Devices Broker Topic: </b>{{ settings['devicebrokertopic'] }}</td>
        </tr>
        <tr>          
          <td><b>Backend URL: </b>{{ settings['backendurl'] }}</td>
          <td><b>Backend Port: </b>{{ settings['backendport'] }}</td>
          <td><b>Broker IP: </b>{{ settings['brokerbackendurl'] }}</td>
          <td><b>Broker Port: </b>{{ settings['brokerbackendport'] }}</td>   
        </tr>
        <tr>
          <td><b>Broker Topic: </b>{{ settings['brokerbackendtopic'] }}</td>
          <td><b>MQTT Client Name: </b>{{ settings['mqttclient'] }}</td>
          <td><b>Backend Gateway Id: </b>{{ settings['backendgatewayid'] }}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <table>
      <tr>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#getModal">
            Get-Representation
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#setModal">
            Set-Representation
          </button>
        </td>
      </tr>
    </table>
    {% endif %}    
  </div>
</div>

{% endblock %}