{% extends 'base.html' %}


{% block title %}Device{% endblock %}

{% block menu %}
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="{{ url_for('index.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
      Home
    </a>
  </li>
  <li>
    <a href="{{ url_for('dashboard.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
      Dashboard
    </a>
  </li>
  <li>
    <a href="{{ url_for('device.device_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
      Devices
    </a>
  </li>  
  <li>
    <a href="{{ url_for('topic.topic_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
      Topics
    </a>
  </li>
  <!--
  <li>
    <a href="#" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
      Users
    </a>
  </li>
  -->
</ul>
{% endblock %}

{% block content %}
<div>
  <h1>Settings</h1>
  <br>
  <hr>
  <a class="btn btn-sm btn-success" href="{{ url_for('gateway.settings_update') }}">Update Settings</a>
  <table class="table">
    <tbody>
      <tr>
        <td><b>Stand-Alone: </b>{{ settings['standalone'] }}</td>
        <td><b>Backend IP: </b>{{ settings['backendIp'] }}</td>
        <td><b>Backend Port: </b>{{ settings['backendPort'] }}</td>        
      </tr>
      <tr>
        <td><b>Broker IP: </b>{{ settings['brokerIp'] }}</td>
        <td><b>Broker Port: </b>{{ settings['brokerPort'] }}</td>
        <td><b>Backend Topic: </b>{{ settings['backend_topic'] }}</td>
      </tr>
      <tr>
        <td><b>Mqtt Client Name: </b>{{ settings['MqttClient'] }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <form action="{{ url_for('gateway.settings') }}" method="POST">
    <input class="btn-primary" type="submit" value="Reboot" onclick="alert('Reiniciando')">
  </form>
</div>

{% endblock %}