{% extends 'base.html' %}


{% block title %}Device{% endblock %}

{% block menu %}
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="{{ url_for('index.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
      Home
    </a>
  </li>
  <li>
    <a href="{{ url_for('dashboard.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
      Dashboard
    </a>
  </li>
  <li>
    <a href="{{ url_for('applications.applications_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#tools"></use></svg>
      Apps
    </a>
  </li>
  <li>
    <a href="{{ url_for('device.device_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
      Devices
    </a>
  </li>
  <li>
    <a href="{{ url_for('resource.resources_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#cpu-fill"></use></svg>
      Resources
    </a>
  </li>  
  <li>
    <a href="{{ url_for('topic.topic_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
      Topics
    </a>
  </li>
  <!--
  <li>
    <a href="#" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
      Users
    </a>
  </li>
  -->
</ul>
{% endblock %}

{% block content %}
<div>
  <nav class="navbar title-nav">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>Settings</span>
    </div>
  </nav>
  <div class="page-content">
    <p>To reset the property value, submit blank.</p>
    <form method="post">
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="standalone"><b>Stand-Alone</b></label>
            <select class="form-select" id="standalone" name="standalone">
              <option value="true" {% if settings['standalone'] %}selected{% endif %}>True</option>
              <option value="false" {% if not settings['standalone'] %}selected{% endif %}>False</option>
            </select>
          </div>
          <div class="col">
            <label for="backendurl"><b>Backend URL</b></label>
            <input type="text" class="form-control" id="backendurl" name="backendurl" value="{{settings['backendurl']}}">
          </div>
          <div class="col">
            <label for="backendport"><b>Backend Port</b></label>
            <input type="text" class="form-control" id="backendport" name="backendport" value="{{settings['backendport']}}">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="brokerbackendurl"><b>Broker URL</b></label>
            <input type="text" class="form-control" id="brokerbackendurl" name="brokerbackendurl" value="{{settings['brokerbackendurl']}}">
          </div>
          <div class="col">
            <label for="brokerbackendport"><b>Broker Port</b></label>
            <input type="text" class="form-control" id="brokerbackendport" name="brokerbackendport" value="{{settings['brokerbackendport']}}">
          </div>
          <div class="col">
            <label for="brokerbackendtopic"><b>Broker Topic</b></label>
            <input type="text" class="form-control" id="brokerbackendtopic" name="brokerbackendtopic" value="{{settings['brokerbackendtopic']}}">
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label for="mqttclient"><b>MQTT Client Name</b></label>
            <input type="text" class="form-control" id="mqttclient" name="mqttclient" value="{{settings['mqttclient']}}">
          </div>
          <div class="col-4">
            <label for="backendgatewayid"><b>Gateway Backend ID</b></label>
            <input type="text" class="form-control" id="backendgatewayid" name="backendgatewayid" value="{{settings['backendgatewayid']}}">
          </div>
        </div>     
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a class="btn btn-danger" href="{{ url_for('gateway.settings') }}">Cancel</a>
    </form>
    </div>
</div>

{% endblock %}