.home-item{
    border: 1px solid #43804D;
    background-color: #43804D;
    box-shadow: 1px 2px 1px gray;
    height: 80px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
}

.home-item:hover{
    background-color: #3f904e;
    border: 1px solid #3f904e;
    
}

.home-item a{
    text-decoration: none;
    color: white;
}