{% extends 'base.html' %}


{% block title %}Topic Detail{% endblock %}

{% block menu %}
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="{{ url_for('index.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
      Home
    </a>
  </li>
  <li>
    <a href="#" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
      Dashboard
    </a>
  </li>
  <li>
    <a href="{{ url_for('device.device_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
      Devices
    </a>
  </li>
  <li>
    <a href="#" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
      Topics
    </a>
  </li>
  <li>
    <a href="#" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
      Users
    </a>
  </li>
</ul>
{% endblock %}

{% block content %}

<div>
  <h1>Device</h1>
    </br>
    <div class="row">
      <h3>Actions</h3>
        <div class="col-sm">
          <a class="btn btn-primary btn-sm" href="#" role="button">Update Topic</a>
          <a class="btn btn-danger btn-sm" href="#" role="button">Delete Topic</a>
        </div>
    </div><br>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="sumary-tab" data-bs-toggle="tab" data-bs-target="#sumary" type="button" role="tab" aria-controls="sumary" aria-selected="true">Sumary</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="devices-tab" data-bs-toggle="tab" data-bs-target="#devices" type="button" role="tab" aria-controls="devices" aria-selected="false">Devices</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="sumary" role="tabpanel" aria-labelledby="sumary-tab">
        {% if topic %}
        <table class="table">
            <br>
            <tbody>
              <tr>
                <td><b>Topic:</b></td>
                <td>{{ topic.topic }}</td>
              </tr>
              <tr>
                <td><b>Last Update:</b></td>
                <td>{{ topic.last_update }}</td>
              </tr>
              <tr>
                <td><b>Active Devices:</b></td>
                <td>{{ topic.active_devices }}</td>
              </tr>
            </tbody>
          </table>
        {% endif %}
      </div>
      <div class="tab-pane fade" id="devices" role="tabpanel" aria-labelledby="devices-tab">
          <br><br>
          <div class="col-sm">
                <h5>Devices</h5>                
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Device TAG</th>
                        <th scope="col">Device Name</th>
                        <th scope="col">Frenquency <sub>(seconds)</sub></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>A001</td>
                        <td>Sensor Ambiental Lebrija</td>
                        <td>3600</td>
                      </tr>
                    </tbody>
                  </table>      
            </div>
      </div>
    </div>
</div>
{% endblock %}