{% extends 'base.html' %}

{% block title %}Topics{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/topics.css') }}">
{% endblock %}

{% block menu %}
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="{{ url_for('index.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
      Home
    </a>
  </li>
  <li>
    <a href="{{ url_for('dashboard.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
      Dashboard
    </a>
  </li>
  <li>
    <a href="{{ url_for('device.device_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
      Devices
    </a>
  </li>  
  <li>
    <a href="{{ url_for('topic.topic_index') }}" class="nav-link active">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
      Topics
    </a>
  </li>
  <!--
  <li>
    <a href="#" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
      Users
    </a>
  </li>
  -->
</ul>
{% endblock %}

{% block content %}
<div>
  <h1>Topics</h1>
  <p>In this section you can create, modify and delete topics, check topics properties and status.</p>
  <h3>Actions</h3>
  <div class="device_actions">
    <a class="btn btn-success" href="{{ url_for('topic.create_topic') }}" role="button">Create Topic</a>
  </div>
  </br>
  <h3>List of Topics</h3>
  <div class="devices_list">
    <table class="table">
        <tr>
          <th>Topic</th>
          <th>Last Update</th>
          <th>Active Devices</th>
          <th>Details</th>
        </tr>
        {% for topic in topics %}
          <tr>
            <td>{{ topic['topic'] }}</td>
            <td>{{ topic['last_update'] }}</td>
            <td>{{ topic['active_devices'] }}</td>
            <td><a class="btn btn-success btn-sm" href="{{ url_for('topic.topic_view', id=topic['id']) }}" role="button">Details</a></td>
          </tr>
        {% endfor %}
      </table>
  </div>  
</div>
    
{% endblock %}