{% extends 'base.html' %}


{% block title %}New Device{% endblock %}

{% block menu %}
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="{{ url_for('index.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
      Home
    </a>
  </li>
  <li>
    <a href="{{ url_for('dashboard.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
      Dashboard
    </a>
  </li>
  <li>
    <a href="{{ url_for('device.device_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
      Devices
    </a>
  </li>  
  <li>
    <a href="{{ url_for('topic.topic_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
      Topics
    </a>
  </li>
  <!--
  <li>
    <a href="#" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
      Users
    </a>
  </li>
  -->
</ul>
{% endblock %}

{% block content %}
<div>
  <h1>Devices</h1>
  <p>Then you can create a new device.</p>
  <form method="post">
    <div class="container">
      <div class="row">
        <div class="col-sm form-group">
          <label for="tag">Device Tag</label>
          <input name="tag" id="tag" class="form-control" value="{{ request.form['tag'] }}" required>
        </div>
        <div class="col-sm form-group">
          <label for="name">Device Name</label>
          <input name="name" id="name" class="form-control" value="{{ request.form['name'] }}" required>
        </div>
        <div class="col-sm form-group">
          <label for="device_type" >Device Type:</label>
          <select name="device_type" id="device_type" class="form-control form-control-s" required>
            <option value="COMPOUND">Compound</option>
            <option value="COMPOUND SENSOR">Compound Sensor</option>
            <option value="COMPOUND ACTUATOR">Compound Actuator</option>
            <option value="SENSOR">Sensor</option>
            <option value="ACTUATOR">Actuator</option>
          </select>
        </div>
      </div>
    </br>
      <div class="row">
        <div class="col-sm ">
          <label for="description">Device Description</label>
          <textarea name="description" id="description" class="form-control">{{ request.form['description'] }}</textarea>
        </div>
      </div>
    </br>
      <div class="row">
        <div class="col-sm-4">
          <label for="device_parent">Device Parent</label>
          <select name="device_parent" id="device_parent" class="form-control form-control-s">
            <option value="null">--------</option>
            {% for device in devices %}
            <option value="{{ device.id }}">{{ device.tag }} - {{ device.name }}</option>
            {% endfor %}            
          </select>
        </div>
      </div>
    </br>
      <div class="row">
        <div class="col-sm ">
          <input type="submit" class="btn btn-success" value="Create Device">
          <a class="btn btn-danger" href="{{ url_for('device.device_index') }}" role="button"> Cancel</a>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}