{% extends 'base.html' %}


{% block title %}Device Detail{% endblock %}

{% block menu %}
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="{{ url_for('index.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
      Home
    </a>
  </li>
  <li>
    <a href="{{ url_for('dashboard.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
      Dashboard
    </a>
  </li>
  <li>
    <a href="{{ url_for('device.device_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
      Devices
    </a>
  </li>  
  <li>
    <a href="{{ url_for('topic.topic_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
      Topics
    </a>
  </li>
  <!--
  <li>
    <a href="#" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
      Users
    </a>
  </li>
  -->
</ul>
{% endblock %}

{% block content %}

<div>
  <nav class="navbar title-nav">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>Devices</span>
    </div>
  </nav>
  <div class="page-content">
    <h2>Device {{ device.name }}</h2>
    <div class="row">
        <div class="col-sm">
          <a class="btn btn-primary btn-sm" href="{{ url_for('device.edit_device', id=device['id']) }}" role="button">Update Device</a>
          <a class="btn btn-danger btn-sm" href="{{ url_for('device.delete_device', id=device['id']) }}" role="button">Delete Device</a>
          {% if device.device_parent != 1 %}
          <a class="btn btn-success btn-sm" href="{{ url_for('device.device_view', id=device['device_parent']) }}" role="button">Device Parent</a>
          {% endif %}
        </div>
    </div><br><br>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="summary-tab" data-bs-toggle="tab" data-bs-target="#summary" type="button" role="tab" aria-controls="summary" aria-selected="true">Summary</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="properties-tab" data-bs-toggle="tab" data-bs-target="#properties" type="button" role="tab" aria-controls="properties" aria-selected="false">Properties</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="data-tab" data-bs-toggle="tab" data-bs-target="#data" type="button" role="tab" aria-controls="data" aria-selected="false">Data</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="subdevices-tab" data-bs-toggle="tab" data-bs-target="#subdevices" type="button" role="tab" aria-controls="subdevices" aria-selected="false">Devices</button>
      </li>      
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="resources-tab" data-bs-toggle="tab" data-bs-target="#resources" type="button" role="tab" aria-controls="resources" aria-selected="false">Resources</button>
      </li>      
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
        {% if device %}
        <table class="table">
            <br>
            <tbody>              
              <tr>
                <td><b>Name:</b></td>
                <td>{{ device.name }}</td>
              </tr>
              <tr>
                <td><b>Description:</b></td>
                <td>{{ device.description }}</td>
              </tr>
              <tr>
                <td><b>Categories:</b></td>
                <td>{% for category in device.categories %}<span class="badge bg-success">{{ category.name }}</span>&nbsp;{% endfor %}</td>
              </tr>
              <tr>
                <td><b>Create at:</b></td>
                <td>{{ device.create_at }}</td>
              </tr>
              <tr>
                <td><b>Update at:</b></td>
                <td>{{ device.update_at }}</td>
              </tr>
              <tr>
                <td><b>Is Gateway:</b></td>
                <td>{% if device.is_gateway%}<span class="badge rounded-pill bg-primary">YES</span>{%else%}<span class="badge rounded-pill bg-secondary">No</span>{% endif %}</td>
              </tr>
              <tr>
                <td><b>Local Device:</b></td>
                <td>{% if device.local_device%}<span class="badge rounded-pill bg-primary">YES</span>{%else%}<span class="badge rounded-pill bg-secondary">No</span>{% endif %}</td>
              </tr>
            </tbody>
          </table>
        {% endif %}
      </div>
      <div class="tab-pane fade" id="properties" role="tabpanel" aria-labelledby="properties-tab">
          <br>
          <div class="col-sm">
                <h5>Device Properties</h5>
                <a class="btn btn-success btn-sm" href="{{ url_for('device.create_property', id=device['id']) }}" role="button">Add</a>                
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Value</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for property in properties %}
                      <tr>
                        <td>{{ property['name'] }}</td>
                        <td>{{ property['value'] }}</td>
                        <td>{{ property['description'] }}</td>
                        <td><a class="btn btn-danger btn-sm" href="{{ url_for('device.delete_property', id=property['id'] ) }}" role="button">Delete</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>      
            </div>
      </div>
      <div class="tab-pane fade" id="data" role="tabpanel" aria-labelledby="data-tab">
        </br>
        <div class="row">
            <div class="col-sm">
                {% if data %}
                  {%for table in tables %}
                    <h4>{{table}}</h4>
                    <div class="overflow-auto" style="height: 60vh;">               
                      {%for dat in data[table] %}
                      <ul class="list-group">
                        {% for key in dat %}
                          <li class="list-group-item"><b>{{key}}:</b> {{dat[key]}}</li>
                        {% endfor %}
                      </ul>
                      </br>               
                      {% endfor %}
                      </ul>
                    </div>
                  {% endfor %}
                {% else %}
                <p>This devices don't have data</p>
                {% endif %}                                
            </div>
      </div>
      </div>
      <div class="tab-pane fade" id="subdevices" role="tabpanel" aria-labelledby="subdevices-tab">
        </br>
        <div class="row">
            <div class="col-sm">
                <h5>Internal Devices</h5>                
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for off_device in offspring_devices%}
                      <tr>
                        <td>{{ off_device.name}}</td>
                        <td><a class="btn btn-success btn-sm" href="{{ url_for('device.device_view', id=off_device['id']) }}" role="button">details</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>                  
            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="resources" role="tabpanel" aria-labelledby="resources-tab">
        </br>
        <div class="row">
            <div class="col-sm">
                <h5>Resources</h5>
                <a class="btn btn-success btn-sm" href="{{ url_for('device.create_resource', id=device['id']) }}" role="button">Add</a>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Type</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for resource in resources %}
                    <tr>
                      <td>{{ resource['name'] }}</td>
                      <td>{{ resource['resource_type'] }}</td>
                      <td><a class="btn btn-primary btn-sm" href="{{ url_for('device.resource_view', id=resource['id'] ) }}" role="button">Details</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </div>
        </div>
      </div>
      
    </div>  
</div>
{% endblock %}