{% extends 'base.html' %}


{% block title %}Device Detail{% endblock %}

{% block menu %}
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="{{ url_for('index.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
      Home
    </a>
  </li>
  <li>
    <a href="{{ url_for('dashboard.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
      Dashboard
    </a>
  </li>
  <li>
    <a href="{{ url_for('device.device_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
      Devices
    </a>
  </li>  
  <li>
    <a href="{{ url_for('topic.topic_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
      Topics
    </a>
  </li>
  <!--
  <li>
    <a href="#" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
      Users
    </a>
  </li>
  -->
</ul>
{% endblock %}

{% block content %}

<div>
  <h1>Device {{ device.tag }}</h1>
    <div class="row">
      <h3>Actions</h3>
        <div class="col-sm">
          <a class="btn btn-primary btn-sm" href="{{ url_for('device.edit_device', id=device['id']) }}" role="button">Update Device</a>
          <a class="btn btn-danger btn-sm" href="{{ url_for('device.delete_device', id=device['id']) }}" role="button">Delete Device</a>
          {% if device.device_parent != None %}
          <a class="btn btn-success btn-sm" href="{{ url_for('device.device_view', id=device['device_parent']) }}" role="button">Device Parent</a>
          {% endif %}
        </div>
    </div><br><br>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="sumary-tab" data-bs-toggle="tab" data-bs-target="#sumary" type="button" role="tab" aria-controls="sumary" aria-selected="true">Sumary</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="properties-tab" data-bs-toggle="tab" data-bs-target="#properties" type="button" role="tab" aria-controls="properties" aria-selected="false">Properties</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="subdevices-tab" data-bs-toggle="tab" data-bs-target="#subdevices" type="button" role="tab" aria-controls="subdevices" aria-selected="false">Devices</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="resources-tab" data-bs-toggle="tab" data-bs-target="#resources" type="button" role="tab" aria-controls="resources" aria-selected="false">Resources</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="sumary" role="tabpanel" aria-labelledby="sumary-tab">
        {% if device %}
        <table class="table">
            <br>
            <tbody>
              <tr>
                <td><b>Device TAG:</b></td>
                <td>{{ device.tag }}</td>
              </tr>
              <tr>
                <td><b>Device Name:</b></td>
                <td>{{ device.name }}</td>
              </tr>
              <tr>
                <td><b>Device Ipv4 Address:</b></td>
                <td>{{ device.ipv4_address }}</td>
              </tr>
              <tr>
                <td><b>Description:</b></td>
                <td>{{ device.description }}</td>
              </tr>
              <tr>
                <td><b>Is Gateway:</b></td>
                <td>{% if device.is_gateway%}YES{%else%}NO{% endif %}</td>
              </tr>
            </tbody>
          </table>
        {% endif %}
      </div>
      <div class="tab-pane fade" id="properties" role="tabpanel" aria-labelledby="properties-tab">
          <br>
          <div class="col-sm">
                <h5>Device Properties</h5>
                <a class="btn btn-success btn-sm" href="{{ url_for('device.create_property', id=device['id']) }}" role="button">Add</a>                
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Value</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for property in properties %}
                      <tr>
                        <td>{{ property['name'] }}</td>
                        <td>{{ property['value'] }}</td>
                        <td>{{ property['description'] }}</td>
                        <td><a class="btn btn-danger btn-sm" href="{{ url_for('device.delete_property', id=property['id'] ) }}" role="button">Delete</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>      
            </div>
      </div>
      <div class="tab-pane fade" id="subdevices" role="tabpanel" aria-labelledby="subdevices-tab">
        </br>
        <div class="row">
            <div class="col-sm">
                <h5>Internal Devices</h5>                
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">TAG</th>
                        <th scope="col">Name</th>
                        <th scope="col">Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for off_device in offspring_devices%}
                      <tr>
                        <td>{{ off_device.tag }}</td>
                        <td>{{ off_device.name}}</td>
                        <td><a class="btn btn-success btn-sm" href="{{ url_for('device.device_view', id=off_device['id']) }}" role="button">details</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>                  
            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="resources" role="tabpanel" aria-labelledby="resources-tab">
      </br>
      <div class="row">
          <div class="col-sm">
              <h5>Resources</h5>
              <a class="btn btn-success btn-sm" href="{{ url_for('device.create_resource', id=device['id']) }}" role="button">Add</a>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Tag</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for resource in resources %}
                  <tr>
                    <td>{{ resource['tag'] }}</td>
                    <td>{{ resource['name'] }}</td>
                    <td>{{ resource['resource_type'] }}</td>
                    <td><a class="btn btn-primary btn-sm" href="{{ url_for('device.resource_view', id=resource['id'] ) }}" role="button">Details</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
          </div>
      </div>
    </div>
</div>
{% endblock %}