{% extends 'base.html' %}


{% block title %}New Property{% endblock %}

{% block menu %}
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="{{ url_for('index.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
      Home
    </a>
  </li>
  <li>
    <a href="{{ url_for('dashboard.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
      Dashboard
    </a>
  </li>
  <li>
    <a href="{{ url_for('applications.applications_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#tools"></use></svg>
      Apps
    </a>
  </li>
  <li>
    <a href="{{ url_for('device.device_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
      Devices
    </a>
  </li>
  <li>
    <a href="{{ url_for('resource.resources_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#cpu-fill"></use></svg>
      Resources
    </a>
  </li>  
  <li>
    <a href="{{ url_for('topic.topic_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
      Topics
    </a>
  </li>
  <!--
  <li>
    <a href="#" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
      Users
    </a>
  </li>
  -->
</ul>
{% endblock %}

{% block content %}
<div>
  <nav class="navbar title-nav">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>Resources</span>
    </div>
  </nav>
  <div class="page-content">
    <h1>Property</h1>
    <form method="post">
      <div class="container">
        <div class="row">
          <div class="col-sm form-group">
            <label for="name">Property Name</label>
            <input name="name" id="name" class="form-control" value="{{ request.form['name'] }}" required>
          </div>
          <div class="col-sm form-group">
            <label for="value">Property Value</label>
            <input name="value" id="value" class="form-control" value="{{ request.form['value'] }}" required>
          </div>        
        </div>
        </br>
        <div class="row">
          <div class="col-sm ">
            <input type="submit" class="btn btn-success" value="Create Property">
            <a class="btn btn-danger" href="{{ url_for('resource.resource_view', id=resource['id']) }}" role="button"> Cancel</a>
          </div>
        </div>
      </div>
    </form>
  </div>  
</div>

{% endblock %}