{% extends 'base.html' %}


{% block title %}Resource Detail{% endblock %}

{% block menu %}
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="{{ url_for('index.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
      Home
    </a>
  </li>
  <li>
    <a href="{{ url_for('dashboard.index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
      Dashboard
    </a>
  </li>
  <li>
    <a href="{{ url_for('applications.applications_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#tools"></use></svg>
      Apps
    </a>
  </li>
  <li>
    <a href="{{ url_for('device.device_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
      Devices
    </a>
  </li>
  <li>
    <a href="{{ url_for('resource.resources_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#cpu-fill"></use></svg>
      Resources
    </a>
  </li>  
  <li>
    <a href="{{ url_for('topic.topic_index') }}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
      Topics
    </a>
  </li>
  <!--
  <li>
    <a href="#" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
      Users
    </a>
  </li>
  -->
</ul>
{% endblock %}

{% block content %}

<div>
  <nav class="navbar title-nav">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>Resources</span>
    </div>
  </nav>
  <div class="page-content">
    <h1>Resource {{ resource.name }}</h1>
    <div class="row">
      <h3>Actions</h3>
        <div class="col-sm">
          <a class="btn btn-primary btn-sm" href="{{ url_for('resource.update_resource', id=resource.id ) }}" role="button">Update Resource</a>
          <a class="btn btn-danger btn-sm" href="{{ url_for('resource.delete_resource', id=resource.id ) }}" role="button">Delete Resource</a>
        </div>
    </div><br><br>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="sumary-tab" data-bs-toggle="tab" data-bs-target="#sumary" type="button" role="tab" aria-controls="sumary" aria-selected="true">Sumary</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="properties-tab" data-bs-toggle="tab" data-bs-target="#properties" type="button" role="tab" aria-controls="properties" aria-selected="false">Properties</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="sumary" role="tabpanel" aria-labelledby="sumary-tab">
          {% if resource %}
          <table class="table">
              <br>
              <tbody>
                <tr>
                  <td><b>ID:</b></td>
                  <td>{{ resource.id }}</td>
                </tr>
                <tr>
                  <td><b>Global Id:</b></td>
                  <td>{{ resource.global_id }}</td>
                </tr>
                <tr>
                  <td><b>Resource Name:</b></td>
                  <td>{{ resource.name }}</td>
                </tr>
                <tr>
                  <td><b>Description:</b></td>
                  <td>{{ resource.description }}</td>
                </tr>
                <tr>
                  <td><b>Type:</b></td>
                  <td>
                    {% if resource['resource_type']=="SENSOR" %}
                    <span class="badge bg-success">sensor</span>
                    {% elif resource['resource_type']=="ACTUATOR" %}
                    <span class="badge bg-primary">actuator</span>
                    {% elif resource['resource_type']=="COMMUNICATION" %}
                    <span class="badge bg-warning">communication</span>
                    {% elif resource['resource_type']=="STORAGE" %}
                    <span class="badge bg-dark">storage</span>
                    {% else %}
                    <span class="badge bg-secondary">other</span>
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          {% endif %}
        </div>
        <div class="tab-pane fade" id="properties" role="tabpanel" aria-labelledby="properties-tab">
            <br>
            <div class="col-sm">
                  <h5>Resource Properties</h5>
                  <a class="btn btn-success btn-sm" href="{{ url_for('resource.create_property', id=resource['id']) }}" role="button">Add</a>                
                  <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Value</th>
                          <th scope="col">Description</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for property in properties %}
                        <tr>
                          <td>{{ property['name'] }}</td>
                          <td>{{ property['value'] }}</td>
                          <td>{{ property['description'] }}</td>
                          <td><a class="btn btn-danger btn-sm" href="{{ url_for('resource.delete_property', id=property['id'] ) }}" role="button">Delete</a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>      
              </div>
        </div>
      </div>
  </div>  
</div>
{% endblock %}